#grigliaFoto{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.immagineVerifica{
    border-style: solid;
    width: 20%;
    height: auto;
}

.immagineVerifica:hover{
    border-color: aqua;
}

.immagineSelezionata{
    border-color: greenyellow;
}